# Name: JAR_PluginOCR
# Author: Clement Fleury, Theo Beguey
# Version: 1.0
# Date: 31/02/2017
# Requires: ImageJ 1.31s
# Generate the jar file using: "jar cvfM jar_demo.jar src/* plugins.config"

Plugins>OCR, "Load references", fr.iut.ocr.PluginOCR("load_references")
Plugins>OCR, "Display Confuse Matrix", fr.iut.ocr.PluginOCR("confuse_matrix")
Plugins>OCR, "Custom...", fr.iut.ocr.PluginOCR("custom_image")
